asgiref==3.9.1
Django==5.2.5
gunicorn==23.0.0
packaging==25.0
python-dotenv==1.1.1
sqlparse==0.5.3
typing-extensions==4.14.1
whitenoise==6.9.0
Werkzeug==3.0.3
openai==1.3.0  # Pour l'API OpenAI
transformers==4.35.0  # Pour les modèles Hugging Face
torch==2.5.0  # Pour PyTorch (backend de transformers)
pillow==10.0.0  # Pour le traitement d'images
pytesseract==0.3.10  # Pour l'OCR
scikit-learn==1.3.2  # Pour la similarité sémantique
mongoengine>=1.1.0
