<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  {% if not navbar_full %}
    <div class="app-brand demo">
      <a href="{% url 'index' %}" class="app-brand-link">
        <span class="app-brand-logo demo">
          {% include 'partials/logo.html' %}
        </span>
        <span class="app-brand-text demo menu-text fw-bold ms-2">
          {% get_theme_variables 'template_name' %}
        </span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="icon-base bx bx-chevron-left icon-sm d-flex align-items-center justify-content-center"></i>
      </a>
    </div>
  {% endif %}

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    {% url 'dashboards:home' as dashboard_url %}
    {% if request.user.is_authenticated %}
      {% if request.user.role == "student" %}
        {% url 'dashboards:student' as dashboard_url %}
      {% elif request.user.role == "teacher" %}
        {% url 'dashboards:teacher' as dashboard_url %}
      {% elif request.user.role == "moderator" %}
        {% url 'dashboards:moderator' as dashboard_url %}
      {% elif request.user.role == "admin" %}
        {% url 'dashboards:admin' as dashboard_url %}
      {% endif %}
    {% endif %}

    <li class="menu-item {% if request.path and '/dashboard/' in request.path %}active{% endif %}">
      <a href="{{ dashboard_url }}" class="menu-link">
        <i class="menu-icon icon-base bx bx-home-smile"></i>
        <div class="text-truncate">Tableau de bord</div>
      </a>
    </li>

    {% if request.user.is_authenticated %}
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Espace</span>
      </li>

      {% if request.user.role == "student" %}
        <li class="menu-item {% if request.path and 'resources/front-office' in request.path %}active{% endif %}">
          <a href="{% url 'resources:front' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-book-reader"></i>
            <div class="text-truncate">Cours & documents</div>
          </a>
        </li>
        <li class="menu-item {% if request.path and '/quiz/' in request.path %}active{% endif %}">
          <a href="{% url 'quiz:list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-help-circle"></i>
            <div class="text-truncate">Quiz générés</div>
          </a>
        </li>
        <li class="menu-item {% if request.path and '/object' in request.path %}active{% endif %}">
          <a href="{% url 'objectifs:list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-target-lock"></i>
            <div class="text-truncate">Mes objectifs</div>
          </a>
        </li>
      {% elif request.user.role == "teacher" %}
        <li class="menu-item {% if request.path and 'resources/back-office' in request.path %}active{% endif %}">
          <a href="{% url 'resources:list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-folder"></i>
            <div class="text-truncate">Ressources (Back-office)</div>
          </a>
        </li>
        <li class="menu-item {% if request.path and 'resources/front-office' in request.path %}active{% endif %}">
          <a href="{% url 'resources:front' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-show-alt"></i>
            <div class="text-truncate">Vue étudiant</div>
          </a>
        </li>
        <li class="menu-item {% if request.path and '/quiz/' in request.path %}active{% endif %}">
          <a href="{% url 'quiz:list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-help-circle"></i>
            <div class="text-truncate">Quiz générés</div>
          </a>
        </li>
        <li class="menu-item {% if request.path and '/object' in request.path %}active{% endif %}">
          <a href="{% url 'objectifs:list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-target-lock"></i>
            <div class="text-truncate">Objectifs étudiants</div>
          </a>
        </li>
      {% else %}
        <li class="menu-item {% if request.path and 'resources/back-office' in request.path %}active{% endif %}">
          <a href="{% url 'resources:list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-folder"></i>
            <div class="text-truncate">Gestion des ressources</div>
          </a>
        </li>
        <li class="menu-item {% if request.path and '/quiz/' in request.path %}active{% endif %}">
          <a href="{% url 'quiz:list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-help-circle"></i>
            <div class="text-truncate">Quiz</div>
          </a>
        </li>
        <li class="menu-item {% if request.path and '/object' in request.path %}active{% endif %}">
          <a href="{% url 'objectifs:list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-target-lock"></i>
            <div class="text-truncate">Objectifs</div>
          </a>
        </li>
      {% endif %}

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Collaboration</span>
      </li>
      <li class="menu-item {% if request.path and '/chat/' in request.path %}active{% endif %}">
        <a href="{% url 'chat:list' %}" class="menu-link">
          <i class="menu-icon icon-base bx bx-chat"></i>
          <div class="text-truncate">Messagerie</div>
        </a>
      </li>
      
    {% else %}
      <li class="menu-item">
        <a href="{% url 'auth-login-basic' %}" class="menu-link">
          <i class="menu-icon icon-base bx bx-log-in"></i>
          <div class="text-truncate">Se connecter</div>
        </a>
      </li>
    {% endif %}
  </ul>
</aside>
