{% extends 'layout/master.html' %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar layout-with-menu">
  <div class="layout-container">

    <!-- Menu toujours inclus -->
    {% include "../layout/partials/menu/vertical/vertical_menu.html" %}

    <!-- Layout page: Start -->
    <div class="layout-page">

      <!-- Navbar toujours incluse -->
      {% include "../layout/partials/navbar/navbar.html" %}

      <!-- Content wrapper: Start -->
      <div class="content-wrapper">

        <!-- Contenu principal -->
        <div class="container-xxl flex-grow-1 container-p-y">
          {% block content %}
          {% endblock content %}
        </div>
        <!-- / Content: End -->

        <!-- Footer toujours inclus -->
        {% include "../layout/partials/footer/footer.html" %}

        <div class="content-backdrop fade"></div>
      </div>
      <!--/ Content wrapper: End -->

    </div>
    <!-- / Layout page: End -->

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

  </div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
